.fondo{
    background-image: url('/autentication/static/img/fondo.jpg');
    height: 100vh;
    background-position: center;
    overflow: hidden;
}

.form{
    color:#253467;
    border: 3px solid #253467;
}
.form h2, h1, p{
    text-align: center;
}

@media (max-height: 500px) {
    .form{
        flex-basis: 50%; /* 100% dividido por el número de columnas */
        max-width: 50%; /* 100% dividido por el número de columnas */
        font-size: 10px;

    }
    .login1 h2{
        font-size: 25px;

    }
  
  }
  