<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="logincel.css">
</head>

<body>
    <div class="container">
        <div class="child">
            <form class="form">
                <h1>Expendio de pan "Mares"</h1>
                <h2>Bienvenido</h2>
                <h3>Inicio de sesión</h3>
            
                <div class="inputs">
                    <input type="email" class="box"placeholder="Correo">
                    <input type="password" class="box1" placeholder="Contraseña">

                    <hr />

                    <a href="#">¿Olvidaste tu contraseña?</a>
                    <a href="#">Aun no tengo cuenta</a>

                    <input type="submit" value="login" class="submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>