{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <!-- <link rel="stylesheet" href="regStyle.css"> -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/logincel.css' %}">


</head>
<body>
    <div class="container">
        <div class="child">
            <form class="form">
                <h2>Registrarse</h2>
                <div class="inputs">
                    <input type="text" class="box" placeholder="Nombre">
                    <input type="email" class="box" placeholder="Correo electrónico">
                    <input type="password" class="box" placeholder="Contraseña">
                    <input type="password" class="box" placeholder="Confirmar Contraseña">
                    <hr />
                    <a href="#">¿Ya tienes cuenta?</a>
                    <input type="submit" value="Registrarse" class="submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
</body>
</html>