@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.seccion1{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(img/284091.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.seccion1-content{
    text-align: center;
}

.seccion1-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.seccion1-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 7px 30px;
    border-radius: 5px;
    background-color: rgb(207, 128, 0);
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover{
    transition: all 0.7s;
    background-color: rgb(179, 111, 1);
}

.seccion2{
    display: flex;
}

.seccion2-1{
    width: 50%;
    padding: 75px 50px 75px 50px;
    background-color: #E1E2E6;
}

.seccion2-2{
    background-image: url(img/55628.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323232;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.seccion2-content h2{
    font-size: 55px;
}


.seccion3{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.seccion3-content{
    text-align: center;
}

.seccion3-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 150px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color:#414247;
    padding: 0 150px;
    margin-bottom: 35px;
}

.seccion3-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.seccion3-1{
    padding: 0 25px;
}

.seccion3-1 img{
    width: 150px;
}

.seccion3-img{
    position: absolute;
    opacity: .5;
    width: 350px;
    top: 0;
    right: 0;
}

.seccion3-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.cssdistgn{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(img/bread-4183225.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 75px 0;
}

.cssdistgn-content{
    text-align: center;
}

.cssdistgn-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;

}

.cssdistgn-content p{
    font-size: 15px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.cssdistgn-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cssdistgn-1{
    padding: 0 100px;

}

.cssdistgn-1 img{
    width: 100px;
    margin-bottom: 15px;
}

.cssdistgn-1 h3{
    color: #ff985c;
}

.seccion5{
    display: flex;
    background-color: #E1E2E6;
}

.seccion5-1{
    width: 50%;
    padding: 75px 50px 75px 50px;
    background-color: #E1E2E6;
    margin: 50px 0;
}

.seccion5-2{
    /* background-image: url(img/klipartz.com.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 50%;
    margin: 75px 0 75px 50px;
    background-color: #ff985c;
    border-radius: 300px 0 0 300px;
    padding: 80px 0 80px 150px;

}

.seccion5-2 img{
    width: 450px;
}

@media(max-width: 991px){

    .seccion1{
        min-height: 0vh;
    }

    .seccion1-content{
        padding: 100px 30px;
    }

    .seccion1-content p{
        padding: 0;
    }

    .seccion2{
        flex-direction: column;
    }

    .seccion2-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .seccion2-2{
        display: none;

    }

    .seccion3{
        padding: 30px;
    }

    .seccion3-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .seccion3-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .seccion3-img{
        display: none;
    }

    .cssdistgn{
        padding: 30px;
    }

    .cssdistgn-content p{
        padding: 0;
    }

    .cssdistgn-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .cssdistgn-1{
        margin-bottom: 25px;
    }
    
    .seccion5{
        flex-direction: column;
    }

    .seccion5-1{
        width: 100%;
        padding: 30px 30px 0 30px;
        text-align: left;
    }

    .seccion5-2{
        width: 100%;
        /* align-items: center;  */

    }

    /* .seccion5-2 img{
        align-items: ;
    } */


}