<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proceso de Pago</title>
    <link rel="stylesheet" href="{% static 'pago/style.css' %}" />
    
</head>
<body>
    
    <main>
        <div class="box">
          <div class="inner-box">
            <div class="forms-wrap">
              <form action="index.html" autocomplete="off" class="sign-in-form">
                <div class="logo">
                  <img src="{% static 'inicio/img/log.png' %}" alt="easyclass" />
                  <h4>Mares</h4>
                </div>
  
                <div class="heading">
                  <h2>¡Paga con PayPal!</h2>
                  <h6>Estas apunto de tomar una de las mejores decisiones</h6>
                </div>
  
                <div class="actual-form">
                  
                    <div id="paypal-button-container"></div>

                <br>
                  <p class="text">
                    ¡No te detengas! Sigue agregando productos al carrito y disfruta de una experiencia de compra única.
                    <a href="{% url 'Todos' %}">Continuar comprando</a>

                    <br>
                    <br>
                    <p class="text-2">Ten en cuenta que al total de tu compra se le añadirán las comisiones correspondientes por utilizar este método de pago seguro y confiable.</p>
                  </p>
                </div>
              </form>
            </div>
  
            <div class="carousel">
              <div class="images-wrapper">
                <img src="{% static 'img/aa.png' %}" class="image img-1 show" alt="" />
                <img src="{% static 'img/pan.png' %}" class="image img-2" alt="" />
                <img src="{% static 'img/expendio.jpeg' %}" class="image img-3" alt="" />
              </div>
  
              <div class="text-slider">
                <div class="text-wrap">
                  <div class="text-group">
                    <h2>Ven y recoge tu compra</h2>
                    <h2>¡Disfruta de nuestros deliciosos panes!</h2>
                    <h2>Selecciona el pan que mas te guste</h2>
                  </div>
                </div>
  
                <div class="bullets">
                  <span class="active" data-value="1"></span>
                  <span data-value="2"></span>
                  <span data-value="3"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      
    <!-- Javascript file -->

    <script src="{% static 'pago/app.js' %}"></script>
    
    <script src="https://www.paypal.com/sdk/js?client-id=AWoJhWxw6b_ZhVwHecJuFKouL5EW0xq0JqJpx2Z3nj7REJqfM4uK0febJ6dyKthHGAA-n50Sv-_ejZGv&currency=MXN"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      var csrftoken = getToken("csrftoken");

      paypal
        .Buttons({

          style: {
                color: 'blue',
                shape: 'rect', 
                size: 'small'  
            },


          createOrder: function (data, actions) {
            var totalDescuento = (parseFloat("{{ total_carrito }}") * 1.0395 + 5.5).toFixed(2);
            return actions.order.create({
              purchase_units: [
                {
                  amount: {
                    value: totalDescuento,
                  },
                },
              ],
            });
          },
          onApprove: function (data, actions) {
            return actions.order.capture().then(function (orderData) {
              console.log(
                "Capture result",
                orderData,
                JSON.stringify(orderData, null, 2)
              );
              const transaction =
                orderData.purchase_units[0].payments.captures[0];


              const amount = parseFloat("{{ total_carrito }}");
              const totalDescuento = parseFloat(transaction.amount.value).toFixed(2);
              const transactionId = transaction.id;
              

              // Enviar los datos de amount y transactionId al backend
              const dataToSend = {
                amount: amount,
                totalDescuento: totalDescuento,
                transactionId: transactionId,
              };

              fetch("{% url 'guardar_datos_pago' %}", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify(dataToSend),
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    console.log(
                      "Datos de pago guardados correctamente en el backend"
                    );
                    // Mostrar mensaje de éxito
                    Swal.fire(
                      "Gracias!",
                      "Tu orden se ha procesado correctamente!",
                      "success"
                    );
                    window.location.href = `../carrito/`;
                  } else {
                    console.error(
                      "Hubo un problema al procesar los datos de pago"
                    );
                  }
                })
                .catch((error) => {
                  console.error("Error:", error);
                });
            });
          },
        })
        .render("#paypal-button-container");
    </script>
  </body>
</html>
