/* .prueba{
    overflow: hidden;
}

.loader{
    background-color: #15a4fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 10s;
}
.load{
    background-image: url();
    width: 20px;
} */