{% extends "inicio/base.html" %}

<head>
  {% load static %} {% block content %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Productos</title>
  <link href="{% static 'css/Productos.css' %}" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>Pan fino</h1>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
  </header>
  <div class="container-items">
    {% for producto in productos %}
    <div class="item" onclick="info_item('{{ producto.IDproducto }}')">
      <figure>
        <img src="{{ producto.Imagen }}" alt="producto" />
      </figure>
      <div class="info-product">
        <h2>{{ producto.Nombre }}</h2>
        <p class="price">${{ producto.Precio }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <script src="{% static 'js/info_item.js' %}"></script>
</body>
{% endblock %}
